<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Change Password Form</title>

</head>

<body>

	<section>
		<div class="container mt-4 p-4">
			<div class="d-flex justify-content-center h-100">
				<div class="card login-card">
					<div class="card-header login-card-header text-center">
						<h3>Sign In</h3>
						<span><i class="fa fa-sign-in fa-2x text-white"></i></span>


					</div>
					<div class="card-body">
						 
						<!-- email form-->
						  
 
						
						<form  th:action="@{/change-password}" method="post">
							
							<div class="form-group mt-4">
								
								<h4 class="  text-center alert alert-warning">Enter New Password </h4>
								
								<input required name="newpassword" type="password" placeholder="enter new password here" class="form-control" />
								
								
							</div>
								<div class="container text-center mt-4">
									<button type="submit" class="btn btn-block btn-warning">Change Password</button>
								</div>
						</form>
						 
					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							Don't have an account?<a th:href="@{/signup}">Sign Up</a>
						</div>
						 
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>